// _config.scss
$font-stack: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;
$primary-color: #3d5b8d;
$secondary-color: #314977;
$black:#0d0d0d;
$white:#fff;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.7);


// Set text color based on bg
@function set-text-color($color) {
  @if(lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}
   
// Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color)
}


@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap:1.5rem;
}

